body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

input {
    width: 50px;
    text-align: center;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

#mensagem {
    font-weight: bold;
    margin-top: 10px;
}
